@model string

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Index of project</h1>*@

<h2>
    Projects
    <a class="btn btn-outline-dark" asp-action="Create">
        <span class="oi oi-plus">
        </span>
    </a>
</h2>


