@using CarnivorousPlants.Models.ImageViewModel
@model CreateViewModel

@{
    ViewData["Title"] = "Create Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Image</h1>

<form asp-controller="Image" asp-action="Create" asp-route-projectId="@Model.ProjectId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group" hidden>
        <label asp-for="ProjectId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ProjectId" class="form-control" readonly="readonly" />
            <span asp-validation-for="ProjectId" class="text-danger"></span>
        </div>
    </div>

    <input type="file" name="image" />
    <br />
    <br />

    <div>
        <table class="table table-condensed table-bordered" header header-content="Classification">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Tag</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var tag in Model.Tags)
                {
                    <tr>
                        <td>@Html.RadioButtonFor(m => m.TagId, tag.Id)</td>
                        <td>@tag.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr />
    <input class="btn btn-primary" type="submit" value="Send" />
    <a class="btn btn-sm btn-default" asp-controller="Project" asp-action="Details" asp-route-projectId="@Model.ProjectId">Back</a>
</form>

